<div class="row">
    <div class="col-xs-1">
        <button class="btn btn-success" (click)="onStart()">Start</button>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-warning" (click)="onPause()">Pause</button>
    </div>
</div>
