<div class="row">
    <div class="col-xs-9">
        <input title="User Name" type="text" class="form-control" [(ngModel)]="userName" >
    </div>
    <div class="col-xs-2">
        <button class="btn btn-warning" [disabled]="!userName" (click)="onClearUserName()"> Clear </button>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary" [disabled]="!userName" (click)="onCreateUserName()"> Add </button>
    </div>

    <!--<p [innerText]="userName"></p>-->

    <div class="col-xs-12">
        <p class="text-center"> {{userCreationStatus}} </p>
    </div>
</div>
