<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"> Task 03 </h3>
    </div>
    <div class="col-xs-6">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
    <div class="col-xs-6">
      <!--<button class="btn btn-primary" (click)="showSecret = !showSecret"> Display Details </button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()"> Display Details </button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <div
          *ngFor="let logItem of log; let i = index "
          [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
          [ngClass]="{'white-text': i >= 4}">
        {{logItem}}
      </div>
    </div>
  </div>
</div>
